<?xml version="1.0"?>
<!--
  ~ Copyright © 2026 Mosaicora.io. All rights reserved.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Mosaicora_OpenGraph">
        <sequence>
            <module name="Magento_Catalog"/>
            <module name="Magento_CatalogGraphQl"/>
            <module name="Magento_Cms"/>
            <module name="Magento_CmsGraphQl"/>
            <module name="Magento_GraphQl"/>
            <module name="Magento_Store"/>
            <module name="Magento_StoreGraphQl"/>
            <module name="Magento_Webapi"/>
        </sequence>
    </module>
</config>
