<?xml version="1.0"?>
<!--
  ~ Copyright © 2026 Mosaicora.io. All rights reserved.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="mosaicora_opengraph" frontName="mosaicora_opengraph">
            <module name="Mosaicora_OpenGraph"/>
        </route>
    </router>
</config>
